@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* :root{
    --pprimary-color: #8263a3;
    --text-dark: #23267367;
    --white:#ffffff;
    --max-width:1200px;

    
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.btn{
    position: absolute;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

a{
    text-decoration: none;
    transition: 0.3s;

}


body{
    font-family: "Noto Sans", sans-serif;
background-color: #dbdce0;
}

body ::after{
    position: fixed;
    content: "";
    height: 100%;
    top: 0;
    right: 0;
    /* background-color: var(--text-dark); */
    background-color: rgb(25, 25, 115);
    z-index: -1;

    animation: body-bg 1s ease-in-out forwards;

}

@keyframes body-bg{
    0%{
        width:0vw;

    }

    100%{
        width: 50vw;
    }
}

body ::before{
position: fixed;
content: "0";
top: 0;
left: 0;
transform: translate(-50%, -50%);
font-size: 70rem;
font-weight: 200;
color: white;
z-index: -1;
opacity: 0.5;
}


.container{
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-width: fit-content;
    margin-inline: auto;
    overflow: hidden;

}


.links{
    padding: 2rem 0;
    padding-inline: 1rem;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    

}


.left{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.left a{
    font-weight: 500;
    color: black;
}

.logo{
    font-size: 1.2rem;
    font-weight: 800;
}

.left :left a {
   
    color: black;
}

.right{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.right a {
    color: white;
}

.links a:hover {

    
     color: #8263a3;
}


.letter-s{
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50%);
    font-size: 40rem;
    line-height: 0;
    font-weight: 900;
    color: #8263a3;
    padding-left: 98%;
    } 

   .container img{
    position: absolute;
    width: 50%;
    max-width: 150%; 
    top: 100%;
    left: 100%; 
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50 rgba(0, 0, 0, 0.8)); 
    rotate: 20%;
    size-adjust: 25%;
} 

/* .contaimer h4{
    position: absolute;
    top: 50%;
    font-size: 5rem;
    color: white;
    letter-spacing: 25px;

} */

/* .text-left{
    transform: translate(calc(-50% - 250px), -50%);

} */


/* .text-right{
    transform: translate(calc(-50% + 250px), -50%);
    
} */

/* .container .explore{
    top: 50%;
    left: 50%;
    text-transform: translate(-50%, calc(-50% + 225px));
    color: black;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
} */


/* .container .print{
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(90deg);
    padding: calc(1rem -4px) calc(2rem - 4px);
    color: white;
    background-color: transparent;
    border: 1px solid white;
} */

/* .container .catalog{
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(90deg);
    padding: calc(1rem -4px) calc(2rem - 4px);
    color: white;
    background-color: transparent;
    border: 1px solid white;
}  */




